<div>
  <h1>Let's start Order
  </h1>
  <h2>REGISTER NOW</h2>
 <a class="button gap-bottom-line-height" data-link-action="Sign Up" data-link-label="Hero Section" href=" /brands/sign_up">Brand</a>
 <a class="button gap-bottom-line-height" data-link-action="Sign Up" data-link-label="Hero Section" href="/retailers/sign_up">Retailer</a>

</div>

