<div class="contents row">
    <div class="success">
      <h3>
        ALL SET
      </h3>
      <div class="profile_edit">
        <%= link_to 'product list', brand_products_path(current_brand), {class: 'btn btn-primary withripple' }%>
      </div>
    </div>
  </div>