<!DOCTYPE html>
<html>
<head>
  <title>Order</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<footer class='row text-center'>
        <p>(C) Profy 2015</p>
      </footer>
</body>

</html>
